@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "tailwindcss";

:root{
  --font-main: 'Inter', sans-serif;
} 

* {
  font-family: var(--font-main), system-ui, sans-serif;
}


html{
  scroll-behavior: smooth;
}

@keyframes grow {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

.animate-grow {
  transform-origin: center;
  animation: grow 1s ease forwards;
}
